extends shared/page
include mixins/page-heading
include mixins/select
include mixins/code-example
include mixins/input-message

block content
  div(class="row row--heading")
    div(class="col")
      h4(id="select", class="heading sm up") Select
      
  div(class="page-grid row")
    div(class="page-grid__item")
      form(name="form-genre", method="GET", action="/forms")
        +slct("Genre", "genre", data.categories)
      
    div(class="page-grid__item flex-col")
      +code-example("mixin")
        pre(class="language-pug")
          code(class="language-pug").
            +slct("Genre", "genre", data.categories)
            
      +code-example("pug")
        pre(class="language-pug")
          code(class="language-pug").
            div(
              id="slct-genre",
              class="slct js-slct")
              
              label(class="slct__label")
                span(class="med")= Genre
                span :
                
              span(class="slct__value-label")
              
              select(
                id="slct-genre__el",
                name="genre"
                class="slct__el"
                hidden)
                
                // Options data should be provided to
                // the view by the controller or by a
                // client-side script.
                
                each opt in opts
                  option(value=opt.id)= opt.name
                  
              span(class="material-icons slct__arrow") arrow_drop_down
              
  div(class="row row--heading")
    div(class="col")
      h4(id="input", class="heading sm up") Input
      
  div(class="page-grid row")
    div(class="page-grid__item flex-col")
      div(class="mb1")
        label(
          for="user[email]",
          class="label") Email Address
        
        input(
          type="email",
          id="user[email]"
          name="user[email]",
          placeholder="krueger@elm.street")
          
      div(class="mb1")
        label(
          for="user[password]",
          class="label") Password
        
        input(
          type="password",
          id="user[password]"
          name="user[password]",
          placeholder="********")
      
      div(class="mb1")
        label(
          for="user[name]",
          class="label") Name
        
        input(
          type="text",
          id="user[name]"
          name="user[name]",
          class="valid",
          value="Freddy Krueger",
          placeholder="Freddy Krueger")
      
      div(class="mb1")
        label(
          for="user[email-bad]",
          class="label") Email Address
        
        input(
          type="email",
          id="user[email-bad]"
          name="user[email-bad]",
          value="freddy666",
          class="invalid"
          placeholder="krueger@elm.street")
      
      div(class="mb1")
        label(
          for="user[email-ex-success]",
          class="label") Email Address
        
        input(
          type="email",
          id="user[email-ex-success]"
          name="user[email-ex-success]",
          placeholder="krueger@elm.street",
          value="krueger@elm.street")
          
        +input-message("success", "Successful action was taken.")
          
      div(class="mb1")
        label(
          for="user[email-ex-error]",
          class="label") Email Address
        
        input(
          type="email",
          id="user[email-ex-error]"
          name="user[email-ex-error]",
          placeholder="krueger@elm.street",
          value="krueger@elm.street")
          
        +input-message("error", "An error occurred.")
          
    div(class="page-grid__item")
      +code-example("pug")
        pre(class="language-pug")
          code(class="language-pug").
            // Default State
            
            div
              label(
                for="user[email]",
                class="label") Email Address
              
              input(
                type="email",
                id="user[email]"
                name="user[email]",
                placeholder="krueger@elm.street")
                
            // Valid input
            
            input(class="valid")
              
            // Invalid input
            
            input(class="invalid")
              
            // Input Message
            //
            // Messages take the type ("info", "error", "success")
            // and a message.
            
            +input-message("error", "An error occurred.")
            +input-message("success", "Successful action was taken.")
      
  div(class="row row--heading")
    div(id="textarea", class="col")
      h4(class="heading sm up") Textarea
  
  div(class="page-grid row")
    div(class="page-grid__item flex-col")
      label(for="fears", class="label") What do you fear?
      textarea(id="fears",
        name="user[fears]",
        placeholder="Describe your deepest fears...")
        
    div(class="page-grid__item")
      +code-example("pug")
        pre(class="language-pug")
          code(class="language-pug").
            label(for="fears", class="label") What do you fear?
            textarea(id="fears",
              name="user[fears]",
              placeholder="Describe your deepest fears...")
      
  div(class="row row--heading")
    div(class="col")
      h4(id="radio-button", class="heading sm up") Radio Button
      
  div(class="row row--heading")
    div(class="col")
      h4(id="checkbox", class="heading sm up") Checkbox
