extends shared/page
include ./mixins/code-example

block content
  div(class="row row--heading")
    div(class="col")
      h4(id="shudder-logo", class="heading sm up") Usage
      p.
        In app images must have three sources to cover different device pixel 
        densities. Currently we cover #[span(class="inline-code") @1x],
        #[span(class="inline-code") @2x], and #[span(class="inline-code") @3x].
        Use a default image with #[span(class="inline-code") src] and then 
        define all three image versions in the 
        #[span(class="inline-code") srcset] attribute.
      
  div(class="row row--heading")
    div(class="col")
      h4(id="shudder-logo", class="heading sm up") Shudder Logo
      
  div(class="page-grid row")
    div(class="page-grid__item")
      div
        img(
          src="/images/shudder-logo.png",
          srcset="/images/shudder-logo.png 1x, /images/shudder-logo@2x.png 2x, /images/shudder-logo@3x.png 3x")
    
    div(class="page-grid__item")
      +code-example("pug")
        pre(class="language-pug")
          code(class="language-pug").
            img(
              src="/images/shudder-logo.png",
              srcset="/images/shudder-logo.png 1x, /images/shudder-logo@2x.png 2x, /images/shudder-logo@3x.png 3x")
        
  div(class="row row--heading")
    div(class="col")
      h4(id="s-logo", class="heading sm up") "S" Logo
      
  div(class="page-grid row")
    div(class="page-grid__item")
      div
        img(
          src="/images/s-logo.png",
          srcset="/images/s-logo.png 1x, /images/s-logo@2x.png 2x, /images/s-logo@3x.png 3x")
          
    div(class="page-grid__item")
      +code-example("pug")
        pre(class="language-pug")
          code(class="language-pug").
            img(
              src="/images/s-logo.png",
              srcset="/images/s-logo.png 1x, /images/s-logo@2x.png 2x, /images/s-logo@3x.png 3x")
        
  div(class="row row--heading")
    div(class="col")
      h4(id="s-logo", class="heading sm up") ShudderTV Logo
      
  div(class="page-grid row")
    div(class="page-grid__item")
      div
        img(
          src="/images/shudder-tv-logo.png",
          srcset="/images/shudder-tv-logo.png 1x, /images/shudder-tv-logo@2x.png 2x, /images/shudder-tv-logo@3x.png 3x")
          
    div(class="page-grid__item")
      +code-example("pug")
        pre(class="language-pug")
          code(class="language-pug").
            img(
              src="/images/shudder-tv-logo.png",
              srcset="/images/shudder-tv-logo.png 1x, /images/shudder-tv-logo@2x.png 2x, /images/shudder-tv-logo@3x.png 3x")
